.character-preview img{
    text-align: center;
    max-width: 400px;
    max-height: 400px;
}

.atuendo img{
    text-align: center;
    max-width: 100px;
    max-height: 100px;
}

#top-carousel img.selected {
    border: 4px solid green;
}

#bottom-carousel img.selected {
    border: 4px solid green;
}

#shoes-carousel img.selected {
    border: 4px solid green;
}


.character-preview {
    text-align: center;
    position: relative;
}

.outfit-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    z-index: 1;
}

.outfit-display {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.outfit-display img {
    max-width: 100px;
    max-height: 100px;
}

#save-outfit-button,
#comeBack-button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

#save-outfit-button:hover {
    background-color: #57b929;
}

#comeBack-button:hover {
    background-color: #f52a2a;
}

.outfit-builder {
    margin-top: 20px;
}

.outfit-section {
    margin-bottom: 20px;
}

.outfit-section select {
    width: 100%;
    padding: 10px;
}

.outfit-preview {
    margin-top: 20px;
}

#top-image, #bottom-image, #shoes-image {
    max-width: 100px;
    max-height: 100px;
}

.outfit-carousel {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.outfit-carousel img {
    max-width: 100px;
    max-height: 100px;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.outfit-carousel img:hover {
    transform: scale(1.2);
}