body {
    margin: 0;
    padding: 0;
    background-color: #ffecb3;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #ff6f61;
    margin-top: 0;
}

.character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.character-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
}

.character {
    width: 35%; 
    max-width: 50%;
    border: 2px solid #ff6f61;
    border-radius: 10px;
    padding: 10px;
    background-color: #ffd7b4;
    text-align: center;
}

.character img {
    width: 100%;
    max-height: 200px;
    display: block;
    margin: 0 auto;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

h2 {
    color: #ff6f61;
}

.select-button {
    background-color: #ff6f61;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    font-weight: bold;
}

.select-button:hover {
    background-color: #ff4d37;
}

#create-character-button {
    background-color: #5bc0de;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px 30px;
    font-weight: bold;
    margin-top: 20px;
}

#exit-button {
    background-color: #5bc0de;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px 30px;
    font-weight: bold;
    margin-top: 20px;
}

#create-character-button:hover {
    background-color: #20751a;
}

#exit-button:hover {
    background-color: red;
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }

    .character {
        width: 45%;
    }
}