body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 15px;
    margin-right: 15px;
}

input, button {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }
}

img {
    max-width: 300%;
    border-radius: 20px;
}

.column {
    display: inline-block; /* Hace que las columnas se muestren en línea (uno al lado del otro) */
    max-width: 200px; /* Ancho máximo de cada columna (ajusta según tus necesidades) */
    margin-right: 100px; /* Agrega un margen derecho entre las columnas para separarlas horizontalmente (ajusta según tus necesidades) */
}

.image-container {
    max-width: 50px; /* Ancho máximo de cada contenedor de imágenes (ajusta según tus necesidades) */
    max-height: 50px; /* Altura máxima de cada contenedor de imágenes (ajusta según tus necesidades) */
    margin-right: 100px; /* Agrega un margen derecho entre los contenedores de imágenes para separarlos horizontalmente (ajusta según tus necesidades) */
}