<!DOCTYPE html>
<html>
    <head>
        <title>Iniciar Sesión</title>
        <link rel="stylesheet" type="text/css" href="../../css/login.css">
    </head>
    <body>
        <div class="container">
            <h1>Iniciar Sesion</h1>
            <form>
                <div class="form-group">
                    <input type="text" id="username" placeholder="Usuario">
                </div>
                <div class="form-group">
                    <input type="password" id="password" placeholder="Contrasena">
                </div>
                <button id="login-button">Iniciar Sesion</button>
            </form>
        </div>
        <script src="../components/login.js"></script>
    </body>
</html>